@import "./variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;  
  width: calc(160px + 3%);
  height: 251px;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all 0.3s ease-in-out;//как сделать, чтобы работал?
}

.bigger {
    transform: scale(1.06);
    z-index: 1;
    width: calc(160px + 3%);
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: all 0.3s ease-in-out;//как сделать, чтобы работал?
}

.header {
    font-size: 14.5px;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    color: white;
    line-height: 1;
    border-bottom: 1px solid white;
  }

.main {
    color: white;
    height: 102px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: 1;
    border-bottom: 1px solid white;

    p {
        font-size: 35px;
        margin-left: 10px;
      }

      span {
        font-size: 10px;
      }
    }

.rub {
    position: absolute;
    top: 30px;
    left: 10px;
    }

.speed {  
    color: black;
    font-size: 10px;
    line-height: 2;
    letter-spacing: 0.3px;
    background-color: rgb(248 248 248);
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;    
    }

.footer {
    color: black;
    font-size: 15px;
    background-color: $footerBackgrounColor;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;

    p {
        font-size: 10px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.1px;
      }    
    }

    .header__blue {
      background-color: $deepBlue;
    }
    .main__blue {
      background-color: $lightBlue;
    }
    
    .header__green {
      background-color: $deepGreen;
    }
    .main__green {
      background-color: $lightGreen;
    }
    .header__red {
      background-color: $deepRed;
    }
    .main__red {
      background-color: $lightRed;
    }
    .header__black {
      background-color: $deepBlack;
    }
    .main__black {
      background-color: $lightBlack;
    }
