$deepBlue: #1f9eae;
$lightBlue: #2ac3d6;
$deepGreen: #198b74;
$lightGreen: #22b18f;
$deepRed: #c5544d;
$lightRed: #f46a5f;
$deepBlack: #232b34;
$lightBlack: #303742;

$footerBackgrounColor: rgb(239 239 239);
