@value colors: "./variables.css";
@value deepBlue, lightBlue, deepGreen, lightGreen form colors;

.app {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 640px;
    height: 250px;
    position: relative;
  }